doctype html
html
    head
    body
        h1#pageTitle This is pug! 
        p.big-para
            hey this is a html 
            templating language
        p.big-para
            Any interactive elements, such as the onclick event, must be defined in the language in advance; 
            in vanilla HTML, new events cannot be added by users.
            It is not simple to add dynamic data into vanilla HTML.
            and If you want to generate repeated elements, there are no in-built shortcuts in the form of loops (for, while and so on). 
            and Nor is there an in-built method for handling conditionals (if … else or switch statements).
            Vanilla HTML doesn’t allow users to define new, re-usable tag types.
            Lastly even though HTML is simple to read, it could be faster to write. 
            Opening and closing tags can be a pain to type again and again, and parts of HTML may seem verbose
            There are several technology-specific solutions to writing HTML. 
            React.js has JSX Ruby has eRuby (or ERB), and PHP has, well, HTML in PHP. 
            and For Java, there's JSP (JavaServer Pages), while ASP.NET uses so-called Razor syntax to demarcate HTML code. 
            The list goes on.
        .display-box
        #myOnlyDiv     