doctype html
html
    head
    body
        h1 Welcome to Pug! 
        p.  
            This is a paragraph.
            This is a new line.
        ul
            li this is item #1
            li this is item #2
            li this is item #3